/* fonts taken by google fonts */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* general settings */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-padding-top: 180px;
}

body {
    height: 100vh;
    font-family: 'Libre Bodoni', serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

/* homepage */

/* the header is fixed so it never disappears from the viewport
 and the z-index is high so the audio element (which will appear later on won't override it) */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    border-bottom: 1px solid gold;
}

/* the h1 has position: relative so a top value can be set */
h1 {
    position: relative;
    display: inline-block;
    top: 4px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'IM Fell DW Pica', serif;
    letter-spacing: 0.4em;
    text-align: center;
    line-height: 28px;
    padding: 9px 0px;
    padding-left: 11px;
    color: gold;
    background-color: rgba(30, 25, 22, 0.6);
    border: 1px solid gold;
    border-radius: 5%;
    box-shadow: 0 0 15px 4px;
}

a {
    color: gold;
}

/* navigation bar */
nav {
    background: url("../images/records-header-footer.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 443px;
    height: 126px;
    width: 100vw;
    font-size: 120%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    line-height: 92px;
    margin: 0 5px;
}

nav ul li a {
    font-family: 'IM Fell DW Pica', serif;
    font-style: normal;
    text-transform: capitalize;
    font-size: 14.5px;
    margin-right: 2px;
    color: gold;
    background-color: #1e1916;
    border: 1px solid gold;
}

/* Make main element take up any surplus space to push footer down */
main {
    padding-top: 126px;
    flex: 1 0 auto;
    background-color: #1e1916;
    color: white;
    width: 100%;
}

#container-1 {
    display: flex;
    margin: 3em 1em 1em 2.1em;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
}

#content-1 {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

#content-2 {
    max-width: 360px;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    padding-bottom: 0.5em;
    color: gold;
}

p {
    font-weight: lighter;
    padding-bottom: 3%;
}

#content-2 p {
    padding-left: 1.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
}

/* on devices smaller than 768px, the <hr> is not visible */
hr {
    display: none;
}

/* on devices smaller than 1200px, these two ids are not visible */
#special-1 {
    display: none;
}

#special-img {
    display: none;
}

.img-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 90%;
    height: auto;
    animation: fade-in;
    animation-fill-mode: forwards;
}

/* the images are responsive and have same properties and values, 
but the last one who has no margin-bottom */
#first-img {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}

#scnd-img {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}

#trd-img {
    width: 60%;
    height: auto;
    margin-bottom: 10%;
}

#frt-img {
    width: 90%;
    height: auto;
}

/* this is the main container for the 'about us' section */
#container-2 {
    display: inline-block;
    margin: 2em 0 1em 0;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
}

/* the title is "in line" with the main h2 in the #content-1 */
#content-3 h2 {
    padding-left: 22px;
}

#content-3 p {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
}

/* this class is needed to highlight the name "altera musica" */
.alt-mus {
    color: gold;
}

/* records.html page */

#main-records {
    padding-top: 126px;
}

#main-records h2 {
    padding-bottom: 0.5em;
    color: gold;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    font-size: 6.8vw;
}

/* general records container */
#records-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
    align-items: flex-start;
    background-color: #1e1916;
    font-size: 85%;
}

.top-in {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.zoom {
    width: 90%;
    height: auto;
    margin-bottom: 2%;
}

/* this is the table for the information below the records images. 
note the property and value border-collapse: collapse */
table {
    border-collapse: collapse;
    width: 92%;
}

td {
    padding: 6px 8px;
}

td a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

/* classes for a more efficient division on the right and on the left of records information */
.artist,
.album-name,
.genre,
.country {
    text-align: left;
}

.year,
.condition,
.price,
.format {
    text-align: right;
}

/* class for lower part of record information: the width is set to 90% to look smaller than the .top-in */
.down-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 1em;
}

/* in order to avoid the "default" cursor: pointer on the link, I had to be very specific by selecting the direct child */
.condition>a {
    cursor: help;
}

details {
    padding: 10px;
    color: gold;
}

details summary {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

details p {
    color: white;
}

details a {
    color: gold;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

details,
details summary,
details p,
details a {
    font-size: 18px;
}

/* the z-index value is smaller than the one on the header so it doesn't override it */
audio {
    z-index: 80;
    width: 218px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* a class for a link disguised as a button */
.btn {
    background-color: gold;
    color: #1e1916;
    padding: 10px;
    margin-bottom: 1.7em;
    border: none;
    font-family: 'IM Fell DW Pica', serif;
    font-size: x-large;
    font-weight: lighter;
    border-radius: 20px;
    width: max-content;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: gold;
    border: 1px solid gold;
}

/* this gives the "disguised link" a motion sense when tapped or clicked on */
.btn:active {
    position: relative;
    top: 1px;
}

#explain {
    display: flex;
    flex-flow: row wrap;
    margin: 4em 3em 3em 3em;
    padding-left: 3vw;
    padding-bottom: 2vw;
    padding-right: 3vw;
    padding-top: 2vw;
    text-align: justify;
    font-size: 130%;
    border: 1px solid gold;
    border-radius: 2%;
    box-shadow: 0 0 37px 15px gold;
    max-width: 70%;
}

/* cassettes.html page; almost identical to records.html page */

#main-cassettes {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

#h2-cassettes {
    padding-bottom: 0.5em;
    color: gold;
    display: flex;
    justify-content: center;
    padding-top: 26px;
    font-size: 6.6vw;
}

#cassettes-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
    align-items: flex-start;
    background-color: #1e1916;
    font-size: 16px;
}

.mid-cassette {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.zoom-1 {
    width: 75%;
    height: auto;
    margin-bottom: 2%;
}

.cass-tab td {
    padding: 6px 29px;
}

/* wanna sell page */

#sell {
    width: 100vw;
    background-image: url("../images/form-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* form */
#signup-form {
    color: gold;
    text-transform: capitalize;
    background-color: rgba(30, 25, 22, 0.8);
    max-width: 350px;
    padding: 20px 3% 20px 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#signup-form h2 {
    font-size: 25px;
}

/* styles the actual text input spaces */
.text-input {
    background: transparent;
    color: gold;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* styles the heading of the radio buttons element */
#signup-form h3 {
    word-spacing: 4px;
    text-transform: none;
    padding-bottom: 16px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#more-info {
    margin-top: 28px;
}

#add-info {
    background: transparent;
    color: gold;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* another link class disguised as buttons */
.sell-button {
    background-color: gold;
    color: #1e1916;
    padding: 10px;
    margin-bottom: 1.7em;
    border: none;
    font-family: 'IM Fell DW Pica', serif;
    font-size: x-large;
    border-radius: 20px;
    width: max-content;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 15px;
    align-self: center;
}

.sell-button:hover {
    background-color: black;
    color: gold;
    border: 1px solid gold;
}

.sell-button:active {
    position: relative;
    top: 1px;
}

#come-visit {
    font-family: 'IM Fell DW Pica';
    color: gold;
    margin-top: 12%;
    padding: 14px;
    margin-bottom: 35px;
    border-radius: 3%;
    border: 1px solid gold;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: rgba(30, 25, 22, 0.8);
    flex-wrap: wrap;
    flex-direction: column;
}

/* map with a slightly negative margin-bottom value to make it fit to the page */
#map {
    margin-bottom: -5px;
    border-top: 3px solid gold;
}

iframe {
    width: 100vw;
    height: 250px;
    border: none;

}

/* 404.html page */

#error-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
}

#error-img-div {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 30px;
}

#error-img {
    width: 85%;
    height: auto;
}

#error-msg-div {
    width: 90%;
    height: auto;
}

#error-msg {
    color: white;
    font-size: small;
}

#broke {
    color: gold;
}

/* Footer, copyright and social medias */
footer {
    /* We don't need a position relative here because the footer
    is always by default at the end of the page. So we don't even need
    the bottom: 0 value. We already declared the height size so we
    can just say that the bg-size has cover value.*/
    background: url("../images/records-header-footer.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid gold;
    height: 95px;
    width: 100%;
    text-align: center;
}

#copyright {
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 11px;
    color: gold;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 7px;
    display: inline-block;
    background-color: rgba(30, 25, 22, 0.6);
    border: 0.2px solid gold;
}

#social-media {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 3em;
}

footer ul li a:hover {
    color: gold;
    transition: color 0.5s;
    background-color: #1e1916;
    background-size: contain;
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
    box-sizing: initial;
}

/* applying media queries */

@media screen and (min-width: 443px) {

    /* from now on, the list elements on the navbar will have have a value
     of space-evenly, since the screen sizes are getting bigger */
    #nav-list {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        letter-spacing: 0.1em;
        font-size: 3%;
        text-transform: uppercase;
        margin: 0 0;
    }

    nav {
        background-size: cover;
        height: 122px;
        width: 100vw;
        position: relative;
    }

    nav>h1 {
        padding: 6px;
        padding-left: 16px;
    }

    nav ul li {
        font-size: 26px;
    }

    nav ul li a {
        margin: 2px 2px;
        font-size: 25px;
        float: none;
    }

    nav ul li a:hover {
        color: #1e1916;
        transition: color 0.5s;
        background-color: gold;
        padding: 1px;
        border-radius: 2px;
        box-sizing: initial;
    }

    .img-wrapper {
        margin-left: 16px;
    }

    /* records.html page */

    #content-3 h2 {
        font-size: 1.8em;
    }

    /* now the screen is a little bigger, we could add a bit padding to the records symbols */
    #left-smbl {
        padding-right: 0.2em;
    }

    #right-smbl {
        padding-left: 0.2em;
    }

    #records-container {
        flex-flow: row wrap;
        gap: 1% 1%;
        font-size: 101%;
    }

    td {
        padding: 3px 15px;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 106%;
    }

    /* cassettes.html page */

    #cassettes-container {
        max-width: 550px;
        font-size: 18px;
    }

    /* wanna-sell.html page */

    #come-visit {
        width: 368px;
    }
}

/* applying new media queries */

@media screen and (min-width: 768px) {

    /* index.html page */

    main {
        padding-top: 123px;
    }

    #container-1 {
        width: 92%;
        margin: 0em 1em 1em 2.1em;
    }

    #content-1 {
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-right: 8px;
    }

    #upperdiv {
        position: relative;
        top: 50px;
    }

    #content-2 {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        font-size: 121%;
        max-width: 382px;
        padding-left: 0;
    }

    /* now the h2 has align-self property set center */
    h2 {
        display: flex;
        align-self: center;
    }

    /* now the <hr> elements between the <p> elements are visible and styled */
    #content-2 hr {
        display: block;
        margin-bottom: 25px;
        background-color: gold;
        height: 2px;
        width: 75%;
        margin-left: 10%;
        border: none;
    }

    .img-wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -34px;
    }

    /* now the <img> elements widths and margins changed due to their different dimensions
    and the flex-direction of their parent element */
    #first-img {
        width: 46%;
        height: auto;
        margin-bottom: 5%;
    }

    #scnd-img {
        width: 46%;
        height: auto;
        margin-bottom: 5%;
    }

    #trd-img {
        width: 36%;
        height: auto;
        margin-bottom: 10%;
    }

    #frt-img {
        width: 54%;
        height: auto;
        margin-top: 5%;
    }

    #content-3 h2 {
        padding-left: 9%;
        font-size: 2em;
    }

    #content-3 {
        font-size: 121%;
    }

    #content-3 p {
        width: 87%;
        margin-left: 6.5%;
    }

    /* record.html page */

    /* the gap percentages increase as well as the font-size */
    #records-container {
        gap: 1% 4.9%;
        font-size: 1.9vh;
        margin-bottom: 10px;
    }

    /* also the padding for the records symbols increases */
    #left-smbl {
        padding-right: 0.8em;
    }

    #right-smbl {
        padding-left: 0.8em;
    }

    #main-records h2 {
        font-size: 5.8vw;
    }

    /* note the property flex-flow with row wrap value */
    .mid-record {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 1em;
        margin-left: 1em;
        width: 43%;
        min-height: 4em;
    }

    .top-in {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        padding-left: 0vw;
        padding-bottom: 1vw;
        padding-right: 0vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 43%;
    }

    table {
        width: 98%;
        font-size: 230%;
    }

    td {
        padding: 6px 15px;
    }

    .down-in {
        border-bottom: 2px solid gold;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 103%;
        padding-bottom: 1%;
    }

    #explain {
        flex-flow: column wrap;
        padding-bottom: 1vw;
        margin: 0 auto;
        margin-bottom: 47px;
    }

    /* cassettes.html page */

    /* add some margin to the cassettes symbols */
    #first-cassette {
        margin-right: 25px;
    }

    #second-cassette {
        margin-left: 25px;
    }

    #cassettes-container {
        max-width: none;
        flex-flow: row wrap;
        gap: 1% 3%;
        font-size: 1.9vh;
    }

    #h2-cassettes {
        color: gold;
        font-size: 5.6vw;
    }

    .mid-cassette {
        flex-flow: row wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        width: 45%;
    }

    /* due to different images size, the widths properties have different values */
    .mid-cassette #kitic {
        width: 71%;
    }

    .mid-cassette #guta {
        width: 79%;
    }

    .cass-tab #kitic table {
        padding: 3px 2.5em;
    }

    /* from now on, the #signup-form has align-self property with center value */
    #signup-form {
        align-self: center;
    }

    #come-visit {
        font-size: x-large;
        width: 500px;
    }

    /* 404.html page */

    #error-img-div {
        max-width: 120%;
        margin-bottom: 30px;
    }

    #error-img {
        width: 60%;
    }

    #error-msg-div {
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 7%;
    }

    #error-msg {
        font-size: 140%;
    }
}

/* applying other media queries */

@media screen and (min-width: 1200px) {

    /* index.html page */

    #container-1 {
        margin: 2.8em 1em 1em 2.1em;
    }

    /* now the h2 is white; when hovered over, becomes gold */
    h2 {
        color: white;
    }

    h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .img-wrapper {
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2px;
    }

    #upperdiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        position: relative;
        top: 28px;
    }

    /* now this div and the following #special-img are visible */
    #special-1 {
        width: 48%;
        height: auto;
        display: initial;
    }

    #special-img {
        display: initial;
        width: 318px;
        height: auto;
    }

    /* records.html page */

    #records-container {
        flex-flow: row wrap;
        gap: 5% 6%;
        padding-left: 0vw;
        padding-bottom: 4vw;
        padding-right: 0vw;
        font-size: 95%;
    }

    #main-records {
        padding-top: 123px
    }

    #main-records h2 {
        color: white;
        font-size: 300%;
    }

    #main-records h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .mid-record {
        margin-left: 2em;
        width: 26%;
    }

    .zoom {
        width: 100%;
    }

    td {
        padding: 6px 8px;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 115%;
    }

    /* cassettes.html page */

    #cassettes-container {
        gap: 5% 6.5%;
        padding-left: 0vw;
        padding-bottom: 4vw;
        padding-right: 0vw;
        font-size: 96%;
    }

    #h2-cassettes {
        color: white;
        font-size: 300%;
    }

    #h2-cassettes:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .mid-cassette {
        flex-flow: row wrap;
        margin-left: 2em;
        width: 26%;
    }

    .mid-cassette #kitic {
        width: 77%;
    }

    .mid-cassette #guta {
        width: 79%;
    }

    .mid-cassette #alamia {
        width: 81%;
        padding-top: 2%;
    }

    /* the font-size increased as the page width */
    table {
        font-size: 244%;
    }

    .cass-tab td {
        padding: 6px 1.5em;
    }

    /* wanna-sell.html page */

    /* note the flex-direction and the spacing between the elements in the page */
    #sell {
        flex-direction: row;
        justify-content: space-between;
    }

    #come-visit {
        margin-bottom: 35px;
        width: 52%;
        align-self: flex-start;
        justify-content: center;
    }

    /* 404.html page */

    #error-img-div {
        width: 30%;
        margin-bottom: 0;
    }

    #error-img {
        width: 90%;
    }

    #error-msg {
        font-size: 1.5em;
    }
}