@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-padding-top: 180px;
}

/* General point, partially inspired by Love Running */
body {
    height: 100vh;
    font-family: 'Libre Bodoni', serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

/* Homepage */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    border-bottom: 1px solid gold;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'IM Fell DW Pica', serif;
    letter-spacing: 0.4em;
    text-align: center;
    line-height: 28px;
    padding: 9px 0px;
    color: gold;
}

h1 a {
    color: gold;
}

a {
    color: gold;
}

a:visited {
    color: gold;
}

nav {
    background: url("../images/records-header-footer.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 443px;
    height: 126px;
    width: 100vw;
    font-size: 20px;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    line-height: 92px;
    margin: 0 5px;
}

nav ul li a {
    font-family: 'IM Fell DW Pica', serif;
    font-style: normal;
    text-transform: capitalize;
    font-size: 14px;
    float: right;
    margin-right: 1px;
    color: gold;
}

/* Make main element take up any surplus space to push footer down. Inspired by Love Running */
main {
    padding-top: 121px;
    flex: 1 0 auto;
    background-color: #1e1916;
    color: white;
    width: 100vw;
}

h2 {
    padding-bottom: 0.5em;
    color: gold;
}

p {
    font-weight: lighter;
    padding-bottom: 3%;
}

#container-1 {
    display: flex;
    margin: 4em 1em 1em 2.1em;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
}

#content-1 {
    display: flex;
    flex-flow: column wrap;
    width: 110%;
    justify-content: center;
    align-items: flex-start;
}

#content-2 {
    max-width: 360px;
    padding-left: 0;
    padding-right: 0;
}

#content-2 p {
    padding-left: 1.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
}

hr {
    display: none;
}

#content-3 p {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1.5em;
}

.img-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 90%;
    height: auto;
    animation: fade-in;
    animation-timeline: scroll();
    animation-range: entry 0% contain 30%;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#first-img {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}

#scnd-img {
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}

#trd-img {
    width: 60%;
    height: auto;
    margin-bottom: 10%;
}

#frt-img {
    width: 90%;
    height: auto;
}

#container-2 {
    display: inline-block;
    margin: 2em 1em 1em 0;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
}

#special-img {
    display: none;
}

#content-3 h2 {
    padding-left: 22px;
}

.alt-mus {
    color: gold;
}

/* records.html page */

#main-records {
    padding-top: 71px;
}

#main-records h2 {
    padding-bottom: 0.5em;
    color: gold;
    display: flex;
    justify-content: center;
    padding-top: 3em;
    font-size: 6.8vw;
}

#records-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
    align-items: flex-start;
    background-color: #1e1916;
    font-size: 85%;
}

.top-in {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

/* To set the zoom timing whe have to add the transition property to the parent element 
.top-in {
    transition: 0.3s;

}

/* This is the proper zoom in the child element. Note: if the zoom is too large, it will go outside of the viewport)*/
.zoom {
    /*transform: scale(1.5);*/
    width: 90%;
    height: auto;
    margin-bottom: 2%;
}

.zoom-1 {
    /*transform: scale(1.5);*/
    width: 75%;
    height: auto;
    margin-bottom: 2%;
}

table {
    border-collapse: collapse;
    width: 92%;
}

td {
    padding: 6px 8px;
}

.artist,
.album-name,
.genre,
.country {
    text-align: left;
}

.year,
.condition,
.price,
.format {
    text-align: right;
}

.down-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 1em;
}

.condition>a {
    cursor: help;
}

details {
    padding: 10px;
    color: gold;
}

details summary {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

details p {
    color: white;
}

details a {
    color: gold;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

details,
details summary,
details p,
details a {
    font-size: 18px;
}

audio {
    z-index: 80;
    width: 218px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: gold;
    color: #1e1916;
    padding: 10px;
    margin-bottom: 1.7em;
    border: none;
    font-family: 'IM Fell DW Pica', serif;
    font-size: x-large;
    border-radius: 20px;
    width: max-content;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: gold;
    border: 1px solid gold;
}

button:active {
    position: relative;
    top: 1px;
}

#explain {
    display: flex;
    flex-flow: row wrap;
    margin: 4em 1em 1em 1em;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
}

/* Cassettes Page */

#main-cassettes {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

#h2-cassettes {
    padding-bottom: 0.5em;
    color: gold;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    font-size: 6.8vw;
}

#cassettes-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
    text-align: justify;
    align-items: flex-start;
    background-color: #1e1916;
    font-size: 16px;
}

.mid-cassette {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.zoom-1 {
    width: 75%;
    height: auto;
    margin-bottom: 2%;
}

.cass-tab td {
    padding: 6px 29px;
}

/* Wanna sell page */
#main-wanna-sell {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sell {
    background-image: url("../images/form-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-position: 75%;*/
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



#signup-form {
    color: gold;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 350px;
    padding: 20px 3% 20px 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#signup-form h2 {
    font-size: 25px;
}

.text-input {
    background: transparent;
    color: gold;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

#signup-form h3 {
    word-spacing: 4px;
    text-transform: none;
    padding-bottom: 16px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#more-info {
    margin-top: 28px;
}

#add-info {
    background: transparent;
    color: gold;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.sell-button {
    margin-top: 20px;
    padding: 15px 15px;
    align-self: center;
}

#come-visit {
    color: gold;
    margin-top: 12%;
    padding: 14px;
    margin-bottom: 35px;
    border-radius: 3%;
    border: 1px solid gold;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

#strong-p {
    font-family: 'IM Fell DW Pica';
}

#map {
    margin-bottom: -5px;
    border-top: 3px solid gold;
}

iframe {
    width: 100vw;
    height: 250px;
    border: none;

}

/* Footer, copyright and social medias */
footer {
    /* We don't need a position relative here because the footer
    is always by default at the end of the page. So we don't even need
    the bottom: 0 value. We already declared the height size so we
    can just say that the bg-size has cover value.

    position: relative;
    bottom: 0;*/
    background: url("../images/records-header-footer.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid gold;
    height: 90px;
    width: 100vw;
}

#copyright {
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 8px;
    color: gold;
    padding-top: 3px;
    padding-bottom: 0;
}

#social-media {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 2px;
    font-size: 2em;
}

/* APPLYING MEDIA QUERIES */
@media screen and (min-width: 443px) {

    #nav-list {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        letter-spacing: 0.1em;
        font-size: 3%;
        text-transform: uppercase;
        margin: 0 0;
    }

    nav {
        background: url("../images/records-header-footer.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 122px;
        width: 100vw;
        position: relative;
        z-index: 5;
    }

    nav>h1 {
        padding: 6px 78px 5px;
    }

    nav ul li {
        font-size: 26px;
    }

    nav ul li a {
        margin: 2px 2px;
        font-size: 20px;
        float: none;
    }

    nav ul li a:hover {
        color: #688f9e;
        transition: color 0.5s;
        background-color: gold;
        padding: 1px;
        border-radius: 2px;
        box-sizing: initial;
    }

    hr {
        display: none;
    }

    .img-wrapper {
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-left: 16px;
    }

    #content-3 h2 {
        font-size: 1.8em;
    }

    #left-smbl {
        padding-right: 0.2em;
    }

    #right-smbl {
        padding-left: 0.2em;
    }

    #main-records h2 {
        display: flex;
        justify-content: center;
        color: gold;
    }

    #records-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1% 1%;
        padding-left: 2vw;
        padding-bottom: 4vw;
        padding-right: 2vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 101%;
    }

    td {
        padding: 3px 15px;
    }

    td a {
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 106%;
    }

    #cassettes-container {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        padding-bottom: 4vw;
        padding-right: 2vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 18px;
    }

    #come-visit {
        width: 368px;
    }

    footer ul li a:hover {
        color: gold;
        transition: color 0.5s;
        background-color: #688f9e;
        padding: 5px;
        border-radius: 2px;
        box-sizing: initial;
    }
}

@media screen and (min-width: 768px) {

    #container-1 {
        width: 92%;
        margin: 4em 1em 1em 2.1em;
    }

    #content-1 {
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-right: 8px;
    }

    h2 {
        display: flex;
        align-self: center;
        color: white;
    }

    h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    #content-2 {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        font-size: 121%;
        max-width: 382px;
        padding-left: 0;
    }

    #content-2 hr {
        display: block;
        margin-bottom: 25px;
        background-color: gold;
        height: 2px;
        width: 75%;
        margin-left: 10%;
        border: none;
    }

    #special-1 {
        display: none;
    }

    .img-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -34px;
    }

    #first-img {
        width: 46%;
        height: auto;
        margin-bottom: 5%;
    }

    #scnd-img {
        width: 46%;
        height: auto;
        margin-bottom: 5%;
    }

    #trd-img {
        width: 36%;
        height: auto;
        margin-bottom: 10%;
    }

    #frt-img {
        width: 54%;
        height: auto;
        margin-top: 5%;
    }

    #content-3 h2 {
        padding-left: 9%;
        font-size: 2em;
    }

    #content-3 h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    #content-3 {
        font-size: 121%;
    }

    #content-3 p {
        width: 87%;
        margin-left: 6.5%;
    }

    #records-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1% 4.9%;
        padding-left: 2vw;
        padding-bottom: 4vw;
        padding-right: 2vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 1.9vh;
    }

    #left-smbl {
        padding-right: 0.8em;
    }

    #right-smbl {
        padding-left: 0.8em;
    }

    #main-records h2 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 5.8vw;
    }

    #main-records h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .mid-record {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        width: 43%;
    }

    .top-in {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        padding-left: 0vw;
        padding-bottom: 1vw;
        padding-right: 0vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 43%;
    }

    .zoom {
        width: 90%;
        height: auto;
        margin-bottom: 2%;
    }

    .down-in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 1em;
    }

    table {
        border-collapse: collapse;
        width: 98%;
        font-size: 230%;
    }

    td {
        padding: 6px 15px;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 103%;
        padding-bottom: 1%;
    }

    #explain {
        flex-flow: column wrap;
        padding-bottom: 1vw;
        margin: 1em 1em 1em 1em;
    }


    #first-cassette {
        margin-right: 25px;
    }

    #second-cassette {
        margin-left: 25px;
    }

    #cassettes-container {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1% 3%;
        padding-left: 2vw;
        padding-bottom: 4vw;
        padding-right: 2vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 1.9vh;
    }

    #h2-cassettes {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 5.8vw;
    }

    #h2-cassettes:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .mid-cassette {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        width: 45%;
    }

    .mid-cassette #kitic {
        width: 71%;
    }

    .mid-cassette #guta {
        width: 79%;
    }

    .cass-tab #kitic table {
        padding: 3px 2.5em;
    }

    #signup-form {
        align-self: center;
    }

    #come-visit {
        font-size: x-large;
        width: 500px;
    }
}

@media screen and (min-width: 1200px) {

    .img-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2px;
    }

    #specialdiv {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    #special-1 {
        width: 48%;
        height: auto;
        display: initial;
    }

    #special-img {
        display: initial;
        width: 318px;
        height: auto;
    }

    #records-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 5% 6%;
        padding-left: 0vw;
        padding-bottom: 4vw;
        padding-right: 0vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 95%;
    }

    #main-records h2 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 300%;
        padding-top: 82px;
    }

    #main-records h2:hover {
        color: gold;
        transition-duration: 0.5s;
    }

    .mid-record {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em;
        width: 26%;
    }

    .zoom {
        width: 100%;
        height: auto;
        margin-bottom: 2%;
    }

    table {
        border-collapse: collapse;
        width: 98%;
        font-size: 230%;
    }

    td {
        padding: 6px 8px;
    }

    .down-in {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 1em;
    }

    details,
    details summary,
    details p,
    details a {
        font-size: 115%;
        padding-bottom: 1%;
    }

    #cassettes-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 5% 6.5%;
        padding-left: 0vw;
        padding-bottom: 4vw;
        padding-right: 0vw;
        text-align: justify;
        background-color: #1e1916;
        font-size: 96%;
    }

    #h2-cassettes {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 300%;
    }

    .mid-cassette {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em;
        width: 26%;
    }

    .mid-cassette #kitic {
        width: 77%;
    }

    .mid-cassette #guta {
        width: 79%;
    }

    .mid-cassette #alamia {
        width: 81%;
        padding-top: 2%;
    }

    table {
        border-collapse: collapse;
        width: 98%;
        font-size: 244%;
    }

    .cass-tab td {
        padding: 6px 1.5em;
    }

    #sell {
        background-image: url("../images/form-background.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-position: 75%; */
        padding: 20px 10% 20px 10%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #come-visit {
        color: gold;
        margin-top: 12%;
        padding: 14px;
        margin-bottom: 35px;
        border-radius: 3%;
        border: 1px solid gold;
        width: 52%;
        display: flex;
        align-items: center;
        align-self: flex-start;
        justify-content: center;
        background-color: black;
        flex-wrap: wrap;
        flex-direction: column;
    }
}